:root {
  --borderSingle1: 1px solid #000;
  --borderBottom1: 0.1cm solid #000;
  --borderInput: 1px solid #0000ff;
  --fontSizeProduct: 16px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-padding-start: 0;
  -webkit-margin-start: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
  background-color: #aaa;
}

input,
textarea {
  border: var(--borderInput);
  outline: none;
}

#app {
  background-color: #fff;
  width: 8.5in;
  height: 11in;
  padding: 1.5cm 1cm 1.1cm;
}

/*---- H E A D E R -----*/
.header {
  display: grid;
  grid-template: 1.5cm 2cm / 11.2cm 8.1cm;
  grid-gap: 0.2cm 0.2cm;
}

.header-item {
  border: var(--borderSingle1);
  border-bottom: var(--borderBottom1);
  display: grid;
  grid-gap: 0.2cm;
}

.header-item:nth-child(2) {
  padding: 0.3cm 0.2cm 0.2cm;
  grid-template-columns: 3cm 1fr;
}

.header-item__bill-numb {
  color: #f00;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.header-item:nth-child(3) {
  padding: 0.2cm;
  grid-template-columns: 1.2cm 1fr;
}

.header-item__sr-text {
  resize: none;
  font-weight: bold;
}

.header-item:nth-child(4) {
  padding: 0.1cm;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  grid-gap: 0;
}

.header-item__purchase-numb,
.header-item__payment-type {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 3cm 1fr;
}

/*---- M A I N -----*/
.main {
  margin-top: 0.1cm;
  border: var(--borderSingle1);
  border-bottom: var(--borderBottom1);
  border-right: var(--borderBottom1);
  display: grid;
  grid-template: 16.9cm 2.3cm / 1fr;
  grid-gap: 0.2cm;
}

.products-container {
  display: flex;
  flex-direction: column;
}

.products-attributes {
  text-align: center;
  height: 0.5cm;
  display: grid;
  grid-template-columns: 1.4cm minmax(6cm, 12.9cm) 2.4cm 2.8cm;
}

.product {
  display: grid;
  grid-template-columns: 1.4cm 12.9cm 2.4cm 2.8cm 0.8cm;
  font-size: var(--fontSizeProduct);
  text-align: right;
  margin-top: 1em;
}

.product p {
  padding: 0px 4px;
  border: var(--borderInput);
}

.product__amount,
.product__vr-unit,
.product__vr-total {
  font-size: 0.875em;
}

.product__vr-unit,
.product__vr-total {
  display: flex;
  justify-content: space-between;
}

/*--- MEDIA QUERIES - Screen < 816px and print ---*/
@media only screen and (max-width: 815.9px) {
  #app {
    width: 94%;
    height: inherit;
    padding: 4%;
  }

  .header {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    grid-gap: 0.2cm 0.2cm;
  }

  .products article {
    grid-template-columns: 1.4cm minmax(6cm, 12.9cm) 2.4cm 2.8cm 0.8cm;
  }
}

@media print {
  :root {
    --borderSingle1: 1px solid #fff;
    --borderBottom1: 0.1cm solid #fff;
    --borderInput: 1px solid #fff;
  }

  input,
  textarea {
    border: 0;
  }

  .noPrint {
    visibility: hidden;
  }
}
